body{
	background:#bc8f8f	  /* deixou a pagina toda com uma cor sรณ */
}


.topo{

	background:#d3d3d3;
	width: 100%;

}

.livro{
width: 15%;
margin-right: 20%


}

.frase{
	width: 30%;
	
}

.diario{
width: 100%;
}

div.livro-lista {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	}